<app-navigatebar></app-navigatebar>
<div class="main">
    <div class="header">
        <h1>Welcome back to Yudaa</h1>
    </div>
    <div class="cardgroup">
        <div class="card" >
            <a href="productList">Products</a><br>
            <div class="icon1">
                <fa-icon [icon]="faBox" class="icon"></fa-icon>
            </div>
            
        </div>
        <div class="card">
            <a>Users</a>
            <div class="icon1">
                <fa-icon [icon]="faUser" class="icon"></fa-icon>
            </div>
        </div>
        <div class="card">
            <a href="addNewItem">add New Items</a>
            <div class="icon1">
                <fa-icon [icon]="faBox" class="icon"></fa-icon>
            </div>
        </div>
        <div class="card last">
            <a>Orders</a>
            <div class="icon1">
                <fa-icon [icon]="faGift" class="icon"></fa-icon>
            </div>
        </div>
        <div class="card">
            <a>Product Content</a>
            <div class="icon1">
                <fa-icon [icon]="faAddressCard" class="icon"></fa-icon>
            </div>
        </div>
    </div>
    
</div>